<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard | Management</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/styles/register.css">
    <link rel="shortcut icon" href="../static/images/sch_favicon.png" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/scripts/admin.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>
    <div id="top_nav">
        <li id="profile">{{ user.first_name }}
            <ul id="profile-content">
                <li>
                    <form method="post" action="/profile">
                        <input type="hidden">
                        <input class="profile-button" type="submit" value="Profile">
                    </form>
                </li>
                <li>
                    <form method="post" action="/auth/sign_out">
                        <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
                        <input class="logout-form" type="submit" value="Logout">
                    </form>
                </li>
            </ul>
        </li>
    </div>
    
    <div class="student-registration-form">
        <h2> Teacher Registration</h2>
        <form id="teacherForm" method="post" action="/register/teacher">
            <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
            <h2>Teacher Information</h2>
            <label for="teacherFirstName">First Name:</label>
            <input type="text" id="teacherFirstName" name="first_name" required><br>

            <label for="teacherLastName">Last Name:</label>
            <input type="text" id="teacherLastName" name="last_name" required><br>
        
            <label for="teacherEmail">Email:</label>
            <input type="email" id="teacherEmail" name="email" required><br>

            <label for="teacherNIN">NIN:</label>
            <input type="text" id="teacherNIN" name="nin" required><br>
        
            <label for="teacherDOB">Date of Birth:</label>
            <input type="text" id="teacherDOB" name="date_of_birth" placeholder="YYYY-MM-DD" required><br>
        
            <label for="teacherPhoneNumber">Phone Number:</label>
            <input type="text" id="teacherPhoneNumber" name="phone_number" required><br>
        
            <label for="teacherPassword">Password:</label>
            <input type="password" id="teacherPassword" name="password" required><br>
        
            <label for="teacherConfirmPassword">Confirm Password:</label>
            <input type="password" id="teacherConfirmPassword" name="confirm_password" required><br>
        
            <label for="teacherSubject">Subject:</label>
            <input type="text" id="teacherSubject" name="subject" required><br>
        
            <!-- Submit Button -->
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
