{% extends "layout.html" %}
{% block content %}
<div class="student-registration-form">
    <h2> Teacher Registration</h2>
    <form id="teacherForm" method="post" action="/register/teacher">
        <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
        <h2>Teacher Information</h2>
        <label for="teacherFirstName">First Name:</label>
        <input type="text" id="teacherFirstName" name="first_name" required><br>

        <label for="teacherLastName">Last Name:</label>
        <input type="text" id="teacherLastName" name="last_name" required><br>

        <label for="teacherEmail">Email:</label>
        <input type="email" id="teacherEmail" name="email" required><br>

        <label for="teacherNIN">NIN:</label>
        <input type="text" id="teacherNIN" name="nin" required><br>

        <label for="teacherDOB">Date of Birth:</label>
        <input type="text" id="teacherDOB" name="date_of_birth" placeholder="YYYY-MM-DD" required><br>

        <label for="teacherPhoneNumber">Phone Number:</label>
        <input type="text" id="teacherPhoneNumber" name="phone_number" required><br>

        <label for="teacherPassword">Password:</label>
        <input type="password" id="teacherPassword" name="password" required><br>

        <label for="teacherConfirmPassword">Confirm Password:</label>
        <input type="password" id="teacherConfirmPassword" name="confirm_password" required><br>

        <label for="teacherSubject">Subject:</label>
        <input type="text" id="teacherSubject" name="subject" required><br>

        <!-- Submit Button -->
        <input type="submit" value="Register">
    </form>
</div>

{% endblock %}
