{% extends "layout.html" %}
{% block content %}
<div class="student-registration-form">
    <h2> Student Registration</h2>
    <form id="studentForm" method="post" action="/register/student">
        <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
        <h2>Student Information</h2>
        <label for="studentName">First Name:</label>
        <input type="text" id="studentName" name="first_name" required><br>

        <label for="studentName">Last Name:</label>
        <input type="text" id="studentName" name="last_name" required><br>
    
        <label for="studentAddress">Address:</label>
        <input type="text" id="studentAddress" name="address" required><br>

        <label for="studentPhoneNumber">Phone Number:</label>
        <input type="text" id="studentPhoneNumber" name="phone_number" required><br>

        <label for="studentEmail">Email</label>
        <input type="email" id="studentEmail" name="email" placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required><br>

        <label for="studentSubject">Subject:</label>
        <input type="text" id="studentSubject" name="subject" required><br>
        
        <label for="studentDOB">Date of Birth:</label>
        <input type="text" id="studentDOB" name="date_of_birth" placeholder="DD-MM-YYYY" required><br>
        
        <label for="studentGenotype">Genotype:</label>
        <input type="text" id="studentGenotype" name="genotype" required><br>
    
        <label for="studentNIN">NIN:</label>
        <input type="text" id="studentNIN" name="nin" required><br>
    
        <label for="studentSex">Sex:</label>
        <select id="studentSex" name="sex" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password min 8 characters"
          autocomplete="off" onkeyup="checkPassword()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          maxlength="100" minlength="8" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirm_password"
          placeholder="Confirm password" autocomplete="off" onkeyup="checkPassword()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          maxlength="100" minlength="8" required>

        <!-- Submit Button -->
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
