

html {
  scroll-behavior: smooth;
} 
body {
font-family: 'Roboto', verdana;
font-family: 'Open Sans', verdana;
font-size: 15px;
background-color: #202428; 
height: 640px;
}

#formWrapper {
position: absolute;
left: 50%; 
width: 400px;
margin-left: -200px;
top: 50%;
min-height: 370px;
margin-top: -250px;
background-color: #fff;
border: 1px solid #fff;
text-align: center;
padding: 15px;
}


/*DISABLE NUMBER SPINNER FOR FORM FIELD*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#notify {
  display: block;
  background-color: #fdd0d0;
  color: #ff5c5c;
  border: 1px solid #fdd0d0;
  padding: 15px;
  text-align: left;
  border-radius: 5px;
}

.phoneNoAndPass {
width: 100%;
box-sizing: border-box;
overflow: hidden;
outline: none;
padding: 17px;
border: 1px solid #ccc;
border-radius: 3px;
background-color: #E8F0FE;
}

#submit {
width: 100%;
padding: 17px;
outline: none;
color: #fff;
font-size: 1.1em;
font-weight: bold;
cursor: pointer;
border-radius: 3px;
border: 1px solid #7505dd;
background-color: #7505dd;
opacity: 0.85;
box-sizing: border-box;
}
#submit:hover {
opacity: 1;
}

#fr {
display: flex;
flex-direction: row;
color: #888;
font-size: 0.8em;
margin-bottom: 5px;
}

.exLink:link, .exLink:visited, .exLink:active {
color: #888;
position: relative;
left: 150px;
}

.exLink:hover {
text-decoration: none;
color: #888;
}

/*LOADER SPINNER*/
.loader {
display: inline-block;
border: 2px solid #fff;
border-radius: 50%;
border-top: 2px solid #DD4F05;
width: 15px;
height: 15px;
-webkit-animation: spin 0.2s linear infinite; /* Safari */
animation: spin 0.2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
/*END LOADER SPINNER*/
